/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* globals.css */
/* 

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  padding: 16px;
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.col {
  flex: 1;
  padding: 8px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 8px 0;
}

p {
  margin: 0;
  padding: 8px 0;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 600px) {
  .hide-on-mobile {
    display: block;
  }
}

.show-on-mobile {
  display: block;
}

@media (min-width: 600px) {
  .show-on-mobile {
    display: none;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f50057;
} */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Neuton", serif;
  overflow-x: hidden;
}
